<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Orders</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/indexstyle.css}" />
</head>
<body>
<header>
    <h1>Your Orders</h1>
    <nav>
        <ul>
            <li><a th:href="@{/goods}">Products</a></li>
            <li><a th:href="@{/cart}">Cart</a></li>
            <li><a th:href="@{/orders}">Orders</a></li>
            <li><a th:href="@{/info}">Information</a></li>
            <!-- 如果用户已登录，显示用户名和注销链接 -->
            <li th:if="${user != null}">
                <span th:text="${user.username}" style="color: #e80f0f "></span>
                <a th:href="@{/logout}">Logout</a>
            </li>

        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>Your Orders</h2>
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Total Price</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through user's orders -->
            <tr th:each="order, status : ${userOrders}">
                <td th:text="${status.index + 1}"></td>
                <td th:text="${order.order_date}"></td>
                <td th:text="${order.totalPrice}"></td>
                <td>
                    <a th:href="@{'/order/details/' + ${order.order_id}}">View Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer>
    <!-- Add footer content if needed -->
</footer>
</body>
</html>
